.containerBtn {
    border: solid 1px rgb(138, 134, 134);
    /* box-shadow: 1px 1px 1px rgb(59, 59, 59); */
    
} 

 .btn{ 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    font-size: 1em;
    padding: 1;
} 

 .btnSuma{
    background-color: rgb(181, 183, 183);
}
.btnSuma:hover {
    background-color: rgb(15, 185, 15);
}
.btnResta{
    background-color: rgb(181, 183, 183);
} 
.btnResta:hover{
    background-color: rgb(207, 8, 8);
} 


.containerCart {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 3px;
    
}

.containerCart span {
    width: 80%;
    height: 55px;
    display: flex;
    justify-content: center;
}

.containerCart span:hover {
    background-color: #44CCFF;
}
.cartImg{
    width: 45px;
    height: 40px;
    padding: 0;
    margin: 0;
}